<div ng-form="editPublishingHouseForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit publishing</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div ng-if="$ctrl.serverError">
            {{$ctrl.serverMessage}}
        </div>
        <div class="form-group" ng-class="{ 'has-error' : editPublishingHouseForm.name.$invalid && !editPublishingHouseForm.name.$pristine }">
            <label class="control-label">Name</label>
            <input name="name" class="form-control input-lg" maxlength="30" type="text" ng-value="$ctrl.currentItem.name" ng-model="$ctrl.currentItem.name" required />
            <p ng-show="editPublishingHouseForm.name.$invalid && !editPublishingHouseForm.name.$pristine" class="help-block">Field is required.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="editPublishingHouseForm.$invalid" ng-click="$ctrl.saveData()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>